/**********************************
    FONTES
**/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(fonts/MaterialIcons-Regular.woff) format('woff'),
       url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

@font-face {
  font-family: 'rubik-regular';
  src: url('fonts/Rubik-Regular.eot');
  src: local('Rubik'), local('Rubik-Regular'),
      url('fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/Rubik-Regular.woff2') format('woff2'),
      url('fonts/Rubik-Regular.woff') format('woff'),
      url('fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubik-medium';
  src: url('fonts/Rubik-Medium.eot');
  src: local('Rubik Medium'), local('Rubik-Medium'),
      url('fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/Rubik-Medium.woff2') format('woff2'),
      url('fonts/Rubik-Medium.woff') format('woff'),
      url('fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'rubik-bold';
  src: url('fonts/Rubik-Bold.eot');
  src: local('Rubik Bold'), local('Rubik-Bold'),
      url('fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Rubik-Bold.woff2') format('woff2'),
      url('fonts/Rubik-Bold.woff') format('woff'),
      url('fonts/Rubik-Bold.svg#Rubik-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* 16px */
.rubik-regular {
  font-family: rubik-regular, sans-serif;
}

.rubik-18 {
  font-family: rubik-regular, sans-serif;
  font-size: 1.45rem;
}

.rubik-medium {
  font-family: rubik-medium, sans-serif;
}

.rubik-bold {
  font-family: rubik-bold, sans-serif;
}

/* Titres */

h2 {
  font-family: rubik-medium, sans-serif;
  font-size: 2.25rem;
}

h3 {
  font-family: rubik-medium, sans-serif;
  font-size: 1.5rem;
}

h4 {
  font-family: rubik-medium, sans-serif;
  font-size: 1.5rem;
}

/* paragraphes  */
.rubik {
  font-family: rubik-regular, sans-serif;
  font-size: 1.063rem;
  line-height: 2;
}

/* text centré */
.txt-center {
  text-align: center;
}


/**********************************
    CODES COULEURS
**/

.gris {
  color: #6B6D73;
}

.noir {
 color: #2D2E30;
}

.orange {
  color: #FF8400;
}

.bleu {
  color: #0E3B84;
}

.degrade {                                /* incomplet ?! */
  background-image: linear-gradient(#1C4689 #103167);
}

.btn-1  {
  background: #FF8400;
  border-radius: 28px;
  padding: 17px 40px;
  margin: 10px 150px 0px 0px;
  display: block;
}


/**********************************
    BASE
**/
* {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}


/**********************************
    CONTAINERS
**/

.containerCenter{
  margin: 0 18vw;
  max-width: 1230px;

}

.containerTop{
  margin: 0 6.5vw 0 18vw;
  max-width: 1450px;
}

.values-section {
  margin: 150px 15vw;
  max-width: 1920px;
}

.values-content-container {
  display: flex;
  flex-direction: row;

}

.values-section {
  max-height: 800px;
}
/**********************************
    FLEX
**/

.flexSpaceBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
}


/**********************************
    HEADER
**/

#page-header {
  height: 693px;
  margin-top: 45px;
}

.logo{
  position: relative;
  width: 78px ;
  height: 26px;
  margin-left: 28px;
}

.hdr-nav-items {
  font-size: 16px;
}

menu li{
  list-style: none;
}

#navbar>div{
  flex: 0 20%;
}

#navbar>nav{
  flex: 0 50%;
}

#search-img {
  margin: 5px 35px 0px 0px;
}

.div-center {
  margin: 0 18vw;
}

#hdr-line {
  width: 100%;
  margin-top: 30px;
}

#title {
  font-family: rubik-bold;
  font-size: 3.75rem;
  line-height: 4rem;
}

#hdr-title {
  display: flex;
  align-items: center;
}

#main-img {
  flex: 0 0 33%;
/*  margin-right: 6.5vw;
  max-height: 5756px;*/
}


/* values */

.values-hdr-txt  {
  margin: 23px 7.5vw 90px 7.5vw;
}


/* J AI PAS PU GERER LES COULEURS A TEMPS */
.icon-small {
  border-radius: 180px;
  border: 1px solid rgba(255, 132, 0, 1);
}

/* JE CHERCHAIS COMMENT FAIRE POUR CHANGER L"ICONE*/
.icon-small:hover {
  color: #FF8400
  background-image: rgba(255, 255, 255, 0);
}